Django==1.9.1
django-bootstrap-breadcrumbs==0.7.2
django-braces==1.8.1
django-crispy-forms==1.6.0
django-debug-toolbar==1.4
django-filter==0.13.0
django-meta==0.3.1
django-redis-cache==1.6.5
gunicorn==19.4.5
MySQL-python==1.2.5
redis==2.10.5
setproctitle==1.1.9
six==1.10.0
sqlparse==0.1.19
wheel==0.29.0
