{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Elements" "elements_list" %}
    {% breadcrumb meta.title request.resolver_match.url_name %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<form class="form-horizontal" method="post" action="">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="form-group">
					{{ form.category.errors }}
					<label class="col-sm-4 control-label" for="{{ form.category.id_for_label }}">
						{{ form.category.label }}
						{% if form.category.field.required %} <span class="asteriskField">*</span>{% endif %}
					</label>
					<div class="controls col-sm-8">
						{{ form.category }}
					</div>
				</div>
				<div class="form-group">
					{{ form.currency.errors }}
					<label class="col-sm-4 control-label" for="{{ form.currency.id_for_label }}">
						{{ form.currency.label }}
						{% if form.currency.field.required %} <span class="asteriskField">*</span>{% endif %}
					</label>
					<div class="controls col-sm-8">
						{{ form.currency }}
					</div>
				</div>				
				<div class="form-group">
					{{ form.created.errors }}
					<label class="col-sm-4 control-label" for="{{ form.created.id_for_label }}">
						{{ form.created.label }}
						{% if form.created.field.required %} <span class="asteriskField">*</span>{% endif %}
					</label>
					<div class="controls col-sm-8">
						{{ form.created }}
					</div>
				</div>	
				<div class="form-group">
					{{ form.total.errors }}
					<label class="col-sm-4 control-label" for="{{ form.total.id_for_label }}">
						{{ form.total.label }}
						{% if form.total.field.required %} <span class="asteriskField">*</span>{% endif %}
					</label>
					<div class="controls col-sm-8">
						{{ form.total }}
					</div>				
				</div>
				<div class="form-group">
					{{ form.hashtags.errors }}
					<label class="col-sm-4 control-label" for="{{ form.hashtags.id_for_label }}">
						{{ form.hashtags.label }}
						{% if form.hashtags.field.required %} <span class="asteriskField">*</span>{% endif %}
					</label>
					<div class="controls col-sm-8">
						{{ form.hashtags }}				
					</div>				
				</div>				
				<div class="form-group">
					<label class="col-sm-4 control-label">Top 21 hashtags</label>
					<div class="controls col-sm-8 top_hashtags">
						{% for id, title in hashtags_top %}
							<div class="col-sm-4">
								<label><a href="javascript:void(0);" data-action="addToChoosen" data-id="{{ id }}" data-title="{{ title }}">{{ title }}</a></label>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4"></div>
					<div class="col-sm-8">
						 <input name="save" value="Save" class="btn btn-primary" id="submit-id-save" type="submit">
						<a class="btn btn-default" href="{% url "elements_list" %}">Cancel</a> 
					</div>
				</div>				
			</form>
		</div>
	</div>
{% endblock content %}

{% block js %}
	{{ form.media }}
{% endblock js %}