<div class="panel panel-default">
	<div class="panel-heading">SWOT</div>
	<table class="table">
		<thead>
			<tr>
				<th class="col-sm-4">Year</th>
				<th class="col-sm-4">Month</th>
				<th class="col-sm-4">Category</th>
				<th class="col-sm-4">Currency</th>
				<th class="col-sm-4">Summary</th>
			</tr>
		</thead>
		<tbody>
			{% for item in summary %}
				<tr>
					<td>{{ item.created_year }}</td>
					<td>{{ item.created_month }}</td>
					<td>{{ item.category__title }}</td>
					<td>{{ item.currency__symbol }}</td>
					<td>{{ item.sum }}</td>
				</tr>
			{% endfor %}
		</tbody>			
	</table>
</div>		