{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Hashtags" "hashtags_list" %}
    {% breadcrumb h1 request.resolver_match.url_name %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<form action="" method="post">
			{% csrf_token %}
			<div class="alert alert-danger" role="alert">
				Are you sure you want to delete "<strong>{{ object }}</strong>" ? <br /><br />
				<button class="btn btn-danger">Delete</button>
				<a href="{% url 'hashtags_list' %}" class="btn btn-default">Cancel</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}