{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Hashtags" "hashtags_list" %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8">
		<div class="form-group">
			<a class="btn btn-success" href="{% url 'hashtags_create' %}">Create</a>
		</div>
		<table class="table-bordered table">
			<thead>
				<tr>
					<th width="60">ID</th>
					<th>Title</th>
					<th width="80">Operations</th>
				</tr>
			</thead>
			<tbody>
				{% for hashtag in hashtags_list %}
					<tr data-tr="{{ hashtag.id }}">				
						<td>{{ hashtag.id }}</td>
						<td>{{ hashtag.title }}</td>
						<td style="text-align: center;">
							<a href="{% url 'hashtags_update' hashtag.id %}" class="btn btn-primary btn-xs  glyphicon glyphicon-pencil"></a>
							<a href="{% url 'hashtags_delete_ajax' hashtag.id %}" data-action="delete" data-id="{{ hashtag.id }}" class="btn btn-danger btn-xs  glyphicon glyphicon-remove"></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}