{% extends "base_head.html" %}

{% load custom_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block main %}
	<div class="container">
		<div class="col-sm-3 _sidebar">
			<div class="list-group">
			 	<a href="{% url 'home' %}" class="list-group-item {% is_active 'home' %}">Home</a>
			 	<a href="{% url 'elements_list' %}" class="list-group-item {% is_active 'elements_list|elements_create|elements_update|elements_delete|elements_list_filter'|split:'|' %}">Records</a>
			 	<a href="{% url 'hashtags_list' %}" class="list-group-item {% is_active 'hashtags_list|hashtags_create|hashtags_update|hashtags_delete'|split:'|' %}">Hashtags</a>
			 	<a href="{% url 'category_list' %}" class="list-group-item {% is_active 'category_list' %}">Categories</a>
			 	<a href="{% url 'currency_list' %}" class="list-group-item {% is_active 'currency_list' %}">Currencies</a>
			</div>
			{% block filter %}{% endblock filter %}
		</div>
		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-12">
					<div class="row header__">
						<div class="col-sm-8">
							{% if meta %}<h1>{{ meta.title }}</h1>{% endif %}
						</div>
						<div class="col-sm-4">
							<div class="col-sm-12">
								<div class="navbar-right user__info">
									<span class="glyphicon glyphicon-user"></span> Hello, {{ user.username }} | <a href="{% url 'logout' %}?next=/accounts/login/">Quit</a>
								</div>
							</div>
						</div>
					</div>
					{% if messages %}
						{% for msg in messages %}       
							<div class="alert alert-{{msg.level_tag}}" role="alert">{{msg.message}}</div>
						{% endfor %}
					{% endif %}
					{% if request.resolver_match.url_name != 'home' %}
						{% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
					{% endif %}
				</div>
			</div>
			{% block content %}{% endblock content %}	
			{% if is_paginated %}
				{% include "pagination.html" %}  
			{% endif %}
		</div>		
	</div>
{% endblock main %}